//global variables
$color-1: #678878;
$color-2: #9db4ab;
$color-3: #e9fff4;
$color-4: #317a91;
$color-5: #505050;
$nav-height: 86px;

html { 
  background-color: #fff; 

  a, a:hover { text-decoration: none; }
  img { max-width: 100%; }
  iframe { max-width: 100%; }
  h1 { color: $color-5; font-size: 36px; }
  h3 { font-size: 30px; }
  p { 
    color: $color-5; 
    font-family: 'roboto-condensedlight'; 
    font-size: 18px; 
    line-height: initial;

    a { 
      text-decoration: underline; 
      color: #668778; 
    }
  }
  ol { 
    font-family: 'roboto-condensedlight'; 
    font-size: 18px;
    line-height: initial;
    text-align: left;
  }
  .equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    .vcenter {
      display:flex;
      flex-direction:column;
      justify-content:center;
    }
  }
  .btn {
    &.btn-default {
      background-color: $color-1; 
      border: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      font-size: 18px; 
      font-weight: bold;
      padding: 12px 36px;
      text-shadow: 0 0 15px rgba(0,0,0,0.25);
      text-transform: uppercase;

      &.blue { background-color: $color-4; }
    }

  }
  
  body { 
    background-color: #fff; 
    font-family: 'roboto-condensedregular'; 
    margin-top: $nav-height;
    overflow-x: hidden; 

    form { 
      table {
        width: 100%;
        border-width: 0 !important;

        td { border-width: 0 !important; } 
      }
      .custom-7 {
        .background,
        .body { background-color: transparent; }
      }
    }
    table[width="930"]{ max-width: 100%; width: initial; }
	  td[width="635"] { max-width: 100%; width: initial; }
    .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 12px;
    }
    .header {
      background: url('') no-repeat;
      background-position-x: 50%;
      background-position-y: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 520px;
      padding: 0;
      position: relative;

      .wrapper { 
        display: flex;
        height: inherit;
        position: relative;
      }
      &.header-1 { 
        background-image: url('../img/header-image.jpg');
        .btn { margin-top: 16px; }
      }
      &.header-2 { 
        background-image: url('../img/application-bg.jpg');
        background-position-y: 15%;
        .btn { margin-top: 16px; background-color: rgba(255,255,255,0.25); }
      }
      &.header-3 { 
        background-image: url('../img/builder.jpg');
        .btn { margin-top: 16px; background-color: rgba(255,255,255,0.25); }
      }
      &.background-playpen { height: 320px; }
      .content {
        align-self: center;
        display: inline-block;
        margin: auto;
        text-align: center;
      }
      .learn-more {
        bottom: 12px;
        color: #fff;
        font-size: 16px;
        left: 0;
        position: absolute;
        right: 0;
        text-decoration: none;
        text-transform: uppercase;
        &:after {
          content: '\25bc';
          display: block;
          font-size: 16px;
          line-height: 16px;
        }
      }
      h1 {
        color: #fff;
        font-size: 72px;
        line-height: 80px;
        margin: 0;
        text-shadow: 0 0 15px rgba(14,103,119,0.5);
        text-transform: uppercase;
      }
      h4 {
        color: #fff;
        font-size: 22px;
        line-height: 18px;
        margin: 0;
        text-shadow: 0 0 15px rgba(14,103,119,0.5);
        text-transform: uppercase;
      }
    }

    nav {
      background-color: #ffffff;
      box-shadow: 0 5px 10px rgba(0,0,0,0.05);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;

      ul {
        clear: both;
        color: #666666;
        font-size: 16px;
        height: $nav-height;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        position: relative;
        text-align: right;
        
        li {
          display: inline-block;
          height: $nav-height;
          padding-left: 24px;
          vertical-align: top;
          position: relative;

          &.active a, a:hover { border-color: $color-1; }
          &.logo {
            left: 0;
            padding-left: 0;
            position: absolute;
            a { border-top: none; }
          }
          a {
            border-top: 3px solid transparent;
            color: $color-5;
            display: table-cell;
            height: $nav-height;
            vertical-align: middle;
          }
        }
      }
      .menu-button { display: none; }
    }
    section {
      overflow-x: hidden;
      padding: 64px 0;
      text-align: center;

      &.background-playpen {
        background: url('') no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        h1 {
          color: #fff;
          font-size: 70px;
          line-height: 70px;
          margin: 0;
          text-shadow: 0 0 15px rgba(0,0,0,0.5);
          text-transform: uppercase;
        }
        h3 {
          color: #fff;
          font-size: 30px;
          line-height: 30px;
          margin: 0;
          text-shadow: 0 0 15px rgba(0,0,0,0.5);
          text-transform: uppercase;

          &.normal { 
            color: $color-5; 
            margin-bottom: 24px;
            text-shadow: none;
            text-transform: initial;
          }
        }
        .btn { margin-top: 24px; }
      }
      &.left-align { text-align: left; }
      &.checkered {
        padding: 0;

        h1 { 
          color: #fff; 
          font-family: 'roboto-condensedbold';
          font-size: 54px; 
          line-height: 48px; 
          margin: 0 0 12px; 
          text-transform: uppercase; 
        }
        h3 { 
          color: #fff; 
          font-family: 'roboto-condensedlight';
          font-size: 30px; 
          line-height: 28px; 
          margin: 0 0 12px; 
          text-transform: uppercase;
        }
        .btn { margin: 24px auto 0; }
        .image-bg { 
          min-height: 576px; 
          background: url('') no-repeat;
          background-position-x: 50%;
          background-position-y: center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          min-height: 320px;
          padding: 128px 0;
          position: relative;
          h1 { text-shadow: 0 0 15px rgba(14, 103, 119, 0.5); }
          h3 { text-shadow: 0 0 15px rgba(14, 103, 119, 0.5); }
        }
        .content {
          margin: 0 auto;
          padding: 0;
          text-align: center;
        }
        .vcenter { overflow: hidden; }
      }
      .light-gray-background { background-color: #f7f7f7; }
      .add-padding { padding: 0 12px; }
    }
    
    footer {
      background-color: $color-3;
      overflow-x: hidden;
      padding: 64px 0;

      ul {
        list-style: none;
        margin: 0 0 24px;
        padding: 0;

        li {
          a {
            color: $color-5;
            font-family: 'roboto-condensedlight';
            font-size: 15px;
            line-height: 36px;
            text-transform: uppercase;
          }
        }
      }
    }

    /*owl carousel*/
    .owl-carousel {
      .item {
        padding: 0 10%; 
        text-align: center; 
        min-height: 150px;

        img { width: initial !important; max-width: 100%; }
        p {
          color: $color-5;
          line-height: initial;
          margin-top: 8px; margin-bottom: 0;

          strong { font-size: 21px; }
          &:nth-of-type(2){ margin-top: 0; }
        }
        &.no-padding { padding: 0; }
      }
      .owl-controls {
        position: absolute; 
        top: 25%; 
        left: 0; 
        right: 0; 
        pointer-events: none;
      }
      .owl-pagination { display: none; }
      .owl-prev, 
      .owl-next { 
        visibility: hidden; 
        position: absolute !important; 
        &:after { 
          color: $color-5; 
          visibility: visible; 
          font-size: 24px;
          pointer-events:all; 
          display:inline-block; 
          -webkit-transform:scale(1,4); 
          -moz-transform:scale(1,4); 
          -ms-transform:scale(1,4); 
          -o-transform:scale(1,4); 
          transform:scale(1,4); 
          font-family: initial; 
          width: 100%; 
          height: 100%;
        }
      }
      .owl-prev { left: -48px; &:after { content: '<'; }}
      .owl-next { right: -48px; &:after { content: '>'; }}

      &.tight-nav { 
        .owl-prev { left: 0; }
        .owl-next { right: 0; }
      }
    }
    .nav-tabs {
      border: none;
      text-align: center;

      > li {
        display: inline-block;
        float: initial;
        font-family: 'roboto-condensedlight';
        font-size: 20px;
        
        a { 
          border: none;
          color: $color-5;
          &:hover { background-color: transparent; }
        }
        &.active {
          > a, > a:focus, > a:hover {
            background-color: transparent;
            border: none;
            color: $color-4;
            text-decoration: underline;
          }
        }
      }
    }
    .popup {
        position:absolute;
        z-index:2;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.7);
        opacity:0;
        visibility:hidden;
        transition:.3s ease;
    }
    .show-popup .popup {
        opacity: 1;
        visibility: visible;    
    }
    .popup > iframe {
        position:absolute;
        top:50px;
        left:50%;
        margin-left:-373px;
    }
  }
  .contact-tab { 
    position: fixed; 
    top: 20%; 
    right: 0; 
    z-index: 99999; 
    display: block !important; 
  }
}

@media (max-width: 1024px) {}
@media (max-width: 767px) {
  html{
    .equal-height { display: block; }
    body{
      nav {
        ul {
          background-color: inherit;
          margin-right: -12px;
          .logo { max-width: 50%; }
          .item { 
            background-color: #f7f7f7;
            display: none;
            height: $nav-height * 0.75;
            margin: 0 0 0 auto;
            padding-left: 12px;
            padding-right: 48px;
            width: 220px;
            z-index: 2;

            a { 
              display: table-cell;
              height: inherit;
              text-align: right;
            }
          }
          .logo { z-index: 1; }
        }
        .menu-button { 
          color: $color-5;
          cursor: pointer;
          display: block;
          font-size: 36px;
          font-weight: bold;
          line-height: $nav-height;
          padding: 0 12px;
          position: absolute;
          right: 12px;
          z-index: 1;
          &:hover { color: $color-1; }
          &:hover+ul,
          &+ul:hover {
            .item { 
              display: block;
            }
          }
        }
      }
      section {
        &.header {
          h1 { font-size: 64px; line-height: 52px; }
          h4 { font-size: 16px; line-height: 21px; }
        }
        &.background-playpen {
          &.left-align { text-align: center; }
          h1 { font-size: 48px; line-height: 42px; }
          h3 { font-size: 16px; line-height: 21px; }
        }
        &.checkered { 
          h1 { font-size: 40px; line-height: 36px; }
          h3 { font-size: 21px; line-height: 18px; }
          .vcenter {
            display: block;
            padding: 10% 12px; 
          }
          .image-bg { min-height: initial; }
          .content { display: block; }
        }
      }
      footer {
        text-align: center;
      }
      table[width="100%"] { 
        width: auto; 
        
        td { padding: 0 !important; }
      }
      .owl-carousel {
        .owl-prev { left: 0; }
        .owl-next { right: 0; }
      }
      .popup > iframe {
          position:absolute;
          top:50px;
          left:50%;
          margin-left: -50%;
      }
    }
    .contact-tab { display: none !important; }
  }
}
@media (max-height: 639px) and (orientation: landscape) {}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 25, 2014 */
@font-face {
  font-family: 'roboto-condensedregular';
  src: url("../fonts/robotocondensed-regular-webfont.eot");
  src: url("../fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular-webfont.woff") format("woff"), url("../fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.eot");
  src: url("../fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-bold-webfont.woff") format("woff"), url("../fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensedlight';
  src: url("../fonts/robotocondensed-light-webfont.eot");
  src: url("../fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-light-webfont.woff") format("woff"), url("../fonts/robotocondensed-light-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}