/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: .8em;
	line-height: 1.2em;
	margin-top: 0px;
	margin: 0;
	padding: 0px;  
	color:#333333;  }

a:link {TEXT-DECORATION: none;	color:#333333;	}
a:visited {TEXT-DECORATION: none;	color:#333333;	}
a:active {TEXT-DECORATION: none;	color:#333333;	}

.rotation , .rotation a:link, .rotation a:visited, .rotation a:active, .rotation a:hover  {
	font-size: .8em;
   	text-decoration: underline;
	font-weight: bold;	}

#logo {
	position: relative;
	top: 0px;
	left: 0px;
	padding-left: 25px;	}

.title {
	font-size: 1em;
	line-height: 1.4em;
	font-weight: bold;	}

.subtitle {
	font-size: 1em;
	line-height: 1.4em; }

.subsubtitle {
	font-size: .92em;
	line-height: 1em;  }

.center {text-align: center}
.right {align: right}
.left {text-align: left}

/* begin from old sheet  */
.main {
	FONT-SIZE: 12px;
	color: #333333;
}

.main A:link {
    TEXT-DECORATION: underline;
	FONT-WEIGHT: BOLD;	}

.main A:visited {
    TEXT-DECORATION: underline;
	FONT-WEIGHT: BOLD;		}

.main A:hover  {
    TEXT-DECORATION: underline;
	FONT-WEIGHT: BOLD;	}

.headings  {
    FONT-SIZE: 11px; }

.headin  {
    FONT-SIZE: 14px;
	FONT-WEIGHT: BOLD; }

/* can remove after all updated pages are uploaded */
.mediumheadin  {
    FONT-SIZE: 16px;
	FONT-WEIGHT: BOLD;  }

.points  {
    FONT-SIZE: 14px;
	FONT-WEIGHT: BOLD;  }

.blue  {
    FONT-SIZE: 14px;
	FONT-WEIGHT: BOLD;   }

.blue2  {
    FONT-SIZE: 14px;
	FONT-WEIGHT: BOLD;  }
/* end from old sheet  */

.buildersignin {
	font-size: .8em;
	line-height: .9em;
    COLOR: #FFFFFF;
   	font-weight: normal; 	
   	position: relative;
 }

.builderwelcome {
	font-size: .9em;
	line-height: 1em;
    COLOR: #FFFFFF;
   	font-weight: normal; 	
   	position: center;
 }

.menulink, .menulink A:link, .menulink A:visited, .menulink A:active  {
	display: block;
	width: 217px;
	height: 20px;
	line-height: 20px;
	text-decoration: none;	}

.menulink A:hover {
	display: block;
	width: 217px;
	height: 20px;
	background-color:#56555B;
	text-decoration: none;  	}

.menuon {
	display: block;
	width: 217px;
	height: 20px;
	background-color:#56555B;
	text-decoration: none;  	}

.leftnav, .leftnav:link, .leftnav:visited, .leftnav:hover {
	font-size: .9em;
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
	left: 15px; }

.rightnav {
	font-size: .9em;
    COLOR: #666666;
   	font-weight: normal; 
 	position: relative;
	left: 15px; }

.rightnav A:link, .rightnav A:visited {
	font-size: .9em;
    COLOR: #000080;
   	font-weight: bold; 
 	position: relative;
	left: 15px; }

.rightnav:hover, .rightnav:active {
	font-size: .9em;
    COLOR: #56555B;
   	font-weight: normal; 
 	position: relative;
	left: 15px; }
	
hr {
	color: #FFFFFF;
	height: 1px;  
	width: 100%;
	text-align: left;/*this will align it for IE*/
	margin: 0 auto 0 0; /*this will align it left for Mozilla*/
 }

input	{
	border: 1px solid #000000;
	background: #ffffff;
	color: #999999;
	font-size: .8em; }

.footer {
	font-size: .85em;  
	color: #666666; }
	
	/*ADDED FOR SHRINKING/GROWING MENU ON PRODUCTS PAGE */
.submenu{
	display: block;
	height: 19px;
	text-decoration: none;
		
	margin-left: 38px;
	padding-top: 2px;
	padding-left: 7px;
	color: #FFFFFF;
	font-size: .75em;
	  }

.hide{
display: none;  }

.show{
display: block;  }

/* ADDED FOR PRODUCT SUBMENUS  */
.submenulink, .submenulink A:link, .submenulink A:visited, .submenulink A:active  {
	margin-left: 19px;
	color: #FFFFFF;
	display: block;
	width: 178px;
	height: 19px;
	line-height: 19px;
	text-decoration: none;   	}

.submenulink A:hover {
	display: block;
	width: 178px;
	height: 19px;
	background-color:#56555B;
	text-decoration: none;	}

.submenuon {
	display: block;
	width: 178px;
	height: 19px;
	background-color:#56555B;
	text-decoration: none;	}
/* END OF STUFF ADDED FOR PRODUCT SUBMENUS  */
/*END OF STUFF ADDED FOR SHRINKING/GROWING MENU ON PRODUCTS PAGE */

table { margin: auto; }
form tbody tr td { 
	background-color: transparent; 
	padding-left: 12px; 
	padding-right: 12px; 
}
td[width="1"],
td[height="4"],
td[width="11"],
td[width="40"],
td[width="45"],
td[width="57"],
td[width="95"],
td[width="99"],
td[width="100"],
td[width="103"],
td[width="108"],
td[width="115"],
td[width="121"],
td[width="124"],
td[width="127"],
td[width="132"],
td[width="139"],
td[width="147"],
td[width="154"],
td[width="157"],
td[width="158"],
td[width="165"],
td[height="171"],
td img[height="171"],
td[width="181"],
td img[height="195"],
td[width="197"],
td[width="200"],
td[width="201"],
td[width="217"], /*left nav*/
td[width="222"],
td[width="223"],
td[width="226"],
td[width="294"],
td[height="315"],
td[width="455"],
td[width="491"]
{ display: none; }

/*hide shadows*/
span.footer { visibility: hidden; }
td[background*="shadow"] { visibility: hidden; }
img[src*="shadow"] { visibility: hidden; }
img[src*="curve"] { visibility: hidden; }
#table1 { display: none; }

/*mobile overrides*/
@media (max-width: 1024px) {
	table[width="930"]{ max-width: 100%; width: initial; }
	td[width="635"] { max-width: 100%; width: initial;}
}

h1 { line-height: 24px; }
span.footer { visibility: hidden; }
td[background*="shadow"] { visibility: hidden; }
img[src*="shadow"] { visibility: hidden; }
input[type='text'],
textarea,
select {
  display: block;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  background-color: #fff;
	border: none;
	color: #666;
	font-size: 18px;
  font-weight: normal;
	height: 48px;
  line-height: 48px;
	padding: 0 12px;
  width: 100%;
  margin-bottom: 12px !important;
}
td[align="RIGHT"] input { text-align: right; }
td[align="LEFT"] input { padding-bottom: 12px !important; }
td[colspan="2"] { text-align: center; }

button, input[type="submit"] {
	background-color: #2a7992;
	border: none;
	color: #fff !important;
	font-size: 18px;
	padding: 12px 24px;
	text-transform: uppercase;
}

.searchForm {
  width: initial;
  max-width: 100%;
}
.headin {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #666666;
    line-height: 16px;
    font-weight: lighter;
    border: 1px solid #ededed;
    background-color: #f1f1f1;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: -24px;
}
.main {
    width: 100%;
    padding: 32px 12px;
    background-color: #f7f7f7;
    margin-top: 0px;
    display: block;
    box-sizing: border-box;
}
tbody { width: 100%; display: table; }
form img { margin: auto; display: block;}